/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.chronology-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.chronology-cell-other-month {

}

.chronology-calendar-box {
	font-size: smaller;
	max-width: 20em;
    flex: 0;
}

.chronology-calendar-grid {
	border-collapse: collapse;
	/* border: 1px solid white; */
}

.chronology-calendar-grid td,.chronology-calendar-grid th {
	border: 1px solid var(--background-modifier-border);
	width: 24pt;
	min-width: 20pt;
	height: 24pt;
	text-align: center;
}



.chronology-calendar-weeknumber {
	color: var(--text-faint);
	font-weight: bold;	
}



.chronology-calendar-day {
	position: relative;
}

.chronology-calendar-day:hover {
	/* text-decoration: underline; */

}

.chronology-calendar-selectable:hover {
	text-decoration: underline;
}

.chronology-calendar-selectable.selected {
	/* outline-style: solid;
	outline-color: var(--interactive-accent-hover); */
    
    /* background-color: var(--text-accent-hover); */
    background-color: var(--text-highlight-bg);

}

.chronology-calendar-week-row.selected {
    /* outline-style: solid;
	outline-color: var(--interactive-accent-hover);    */
    /* background-color: var(--text-accent-hover); */
    background-color: var(--text-highlight-bg);

}

.chronology-cell-month {

}

.chronology-calendar-heat-background {
	position:absolute;
	bottom: 0px;
	background-color: var(--background-modifier-border);
	width: 100%;
	z-index: -1;
}

.chronology-calendar-today {
	/* outline-style:  solid;
	outline-color:  var(--interactive-accent); */

	font-weight: 800;
}

 
.chronology-cell-other-months {
	color: var(--text-faint);
}




.chronology-grid-dayofweek {
	color: var(--text-faint);
	/* color:  var(--interactive-accent); */
}

.chronology-timeline-container {
    overflow-y: auto;
    flex: 1;
    display: grid;
    grid-template-columns: 64px 1fr;
    grid-auto-rows: 100px;
    width: 100%;
}

.chrono-temp-slot1-info {
    /* grid-column: 1; */
    border-right: 1px solid var(--background-modifier-border);
}

.chrono-temp-slot1-content {
    /* grid-column: 2; */
}

