/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.chronology-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.chronology-cell-other-month {}

.chronology-calendar-box {
    font-size: smaller;
    max-width: 20em;
    flex: 0;
}

.chronology-calendar-grid {
    border-collapse: collapse;
    /* border: 1px solid white; */
}

.chronology-calendar-grid td,
.chronology-calendar-grid th {
    border: 1px solid var(--background-modifier-border);
    width: 24pt;
    min-width: 20pt;
    height: 24pt;
    text-align: center;
}



.chronology-calendar-weeknumber {
    color: var(--text-faint);
    font-weight: bold;
}



.chronology-calendar-day {
    position: relative;
}

.chronology-calendar-day:hover {
    /* text-decoration: underline; */

}

.chronology-calendar-selectable:hover {
    text-decoration: underline;
}

.chronology-calendar-selectable.selected {
    /* outline-style: solid;
	outline-color: var(--interactive-accent-hover); */

    /* background-color: var(--text-accent-hover); */
    background-color: var(--text-highlight-bg);

}

.chronology-calendar-week-row.selected {
    /* outline-style: solid;
	outline-color: var(--interactive-accent-hover);    */
    /* background-color: var(--text-accent-hover); */
    background-color: var(--text-highlight-bg);

}

.chronology-cell-month {}

.chronology-calendar-heat-background {
    position: absolute;
    bottom: 0px;
    background-color: var(--background-modifier-border);
    width: 100%;
    z-index: -1;
}

.chronology-calendar-today {
    /* outline-style:  solid;
	outline-color:  var(--interactive-accent); */

    font-weight: 800;
}


.chronology-cell-other-months {
    color: var(--text-faint);
}




.chronology-grid-dayofweek {
    color: var(--text-faint);
    /* color:  var(--interactive-accent); */
}

.chronology-timeline-container {
    overflow-y: auto;
    flex: 1;
    /* display: flex; */
    /* flex-direction: column; */
    width: 100%;
}

.chrono-temp-slot1 {
    display: flex;
    height: 128px;
}

.chrono-temp-slot1-info {
    /* grid-column: 1; */
    border-right: 1px solid var(--background-modifier-border);
    border-top: 1px solid var(--background-modifier-border);
    flex: 0 0 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.chrono-temp-slot1-name {
    margin-right: 5pt;
}

.chrono-temp-slot1-content {
    border-top: 1px solid var(--background-modifier-border);
    flex: 1;
    margin-left: 2pt;
    margin-top: 5pt;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chrono-temp-note {
    color: var(--text-muted);
    position: relative;
}

.chrono-temp-note:before {
    content: attr(data-text);
    /* here's the magic */
    position: absolute;

    /* vertically center */
    top: 0%;
    left: 0px;
    transform: translateY(-100%);

    /* move to right */

    /* right: 100%; */
    margin-left: 5px;
    /* and add a small left margin */

    /* basic styles */
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background: var(--background-secondary-alt);
    color: var(--text-normal);
    text-align: center;

    display: none;
    /* hide by default */
}

.chrono-temp-note:hover:before {
    display: block;
}

.chrono-temp-note:hover {
    background-color: var(--background-secondary-alt);
    color: var(--text-normal);
}

.chrono-badge {
    display: inline-block;
    margin-right: 2pt;
    border-radius: 50%;
    width: 8pt;
    height: 8pt;
    line-height: 8pt;
}

.chrono-badge.chrono-created {
    background-color: var(--interactive-success);
}

.chrono-badge.chrono-modified {
    background-color: var(--text-selection);
}
